[submodule "f4se-plugin/extern/CommonLibF4"]
	path = f4se-plugin/extern/CommonLibF4
	url = https://github.com/Deweh/CommonLibF4.git
[submodule "f4se-plugin/extern/ik"]
	path = f4se-plugin/extern/ik
	url = https://github.com/Deweh/ik.git
[submodule "f4se-plugin/extern/pugixml"]
	path = f4se-plugin/extern/pugixml
	url = https://github.com/zeux/pugixml
