build/
.github/
.vs/
/ck/package/
*.pex
/f4se-plugin/CMakeFiles.old/3.25.0-rc1/CompilerIdCXX/Debug/CompilerIdCXX.tlog
/f4se-plugin/CMakeFiles.old/3.25.0-rc1/CompilerIdCXX/Debug
/f4se-plugin/CMakeFiles.old/3.25.0-rc1/CompilerIdCXX
/f4se-plugin/CMakeFiles.old/3.25.0-rc1/x64/Debug/VCTargetsPath.tlog
/f4se-plugin/CMakeFiles.old/3.25.0-rc1/x64/Debug
/f4se-plugin/CMakeFiles.old/3.25.0-rc1/CMakeRCCompiler.cmake
/f4se-plugin/CMakeFiles.old/3.25.0-rc1/CMakeSystem.cmake
/f4se-plugin/CMakeFiles.old/3.25.0-rc1/VCTargetsPath.txt
/f4se-plugin/CMakeFiles.old/3.25.0-rc1/VCTargetsPath.vcxproj
/f4se-plugin/CMakeFiles.old/cmake.check_cache
/f4se-plugin/CMakeFiles.old/CMakeOutput.log
